#aboutme{
  padding:1em;
  text-align: left;
  font-size: 20px;
  font-family: Caudex, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cards {
    color: #000000;
}

.cards:hover{
  text-decoration: none;
  color: #000000;
}

.cardImage {
  width: 100%;
  border-bottom: 5px double grey;
}

.cardWrapper {
  tranisition: all .5s ease-in-out;
  box-shadow: 0 5px 7px 0 rgba(0,0,0,0.95)
}

.cardWrapper:hover {
  transform: scale(1.05);
}

#city{
    background-color: #000008;
    margin: 0;
    min-width: 100%;
    color: white;
}

#cityButton {
  background-color: #000008;
  font-size: 20px;
  font-weight: 600;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainCity {
  margin-top: 30px;
  background-image: url('./images/SanDiego.jpg');
  background-size: cover; /* Resize the background image to cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
  height: 44em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.mainOcean {
  margin-top: 30px;
  background-image: url('./images/Ocean.jpg');
  background-size: cover; /* Resize the background image to cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
  height: 44em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}
.mainRoad {
  margin-top: 30px;
  background-image: url('./images/road.jpg');
  background-size: cover; /* Resize the background image to cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
  height: 44em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#navbar {
  list-style-type: none;
  z-index: 100;
  display: flex;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbaricons{
  height: 2em;
  width: 2em;
}

#ocean{
    background-color: #5d3361;
    margin: 0;
    min-width: 100%;
    color: white;
}

#oceanButton {
  background-color: #5d3361;
  font-size: 20px;
  font-weight: 600;
}

#personalImage{
  width: 100%;
  padding: 1em;
}

.section {
  padding-bottom: 75px;
}

#road{
  background-color: #d59344;
  margin: 0;
  min-width: 100%;
}

#roadButton {
  background-color: #d59344;
  font-size: 20px;
  font-weight: 600;

}

#section3{
  height: 600px;
  background-color: #867665;
  margin: 0;
  min-width: 100%;
}

.sectionTitle {
  padding: 20px 0;
  border-top: 1px solid rgb(0,0,0,0.2);
  font-family: Caudex, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight: 600;
}

.site-title {
    font-family: Caudex, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0em;
    text-transform: none;
    text-align: center;
    padding-top: 1em;
}
.technologies{
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 20px 0;
  margin-bottom: 20px;
}
.technologies > img{
  height: 75px;
  width: 75px;
}

.themeButtons {
  border: 2px solid white !important;
  border-radius: 0 !important;
  width: 30px;
  height: 30px;

}

.themeButtonsContainer {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1em;
}

#welcome{
  display: flex;
  justify-content: center;
}
